@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    GGK Technologies,<br />
    4th floor,NSL Arena, Uppal, Hyderabad.<br />
    <abbr title="Phone">P:</abbr>
    987-654-1320
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@ggktech.com">support@ggktech.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@ggktech.com">marketing@ggktech.com</a>
</address>
